#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>


/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "Base";
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I &kp O &kp P
                &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K &kp L &kp ENTER
                &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp COMMA &kp DOT &kp DELETE
                &bootloader &mo 1 &mt LCTRL SPACE &mt LSHIFT BACKSPACE &none &bootloader
            >;
        };
									nav {

display-name = "Navigation";
bindings = <

&msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT &mkp MCLK 
&kp SLASH &kp N7 &kp N8 &kp N9 &kp MINUS
&mmv MOVE_LEFT  &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &mkp LCLK  
&kp STAR &kp N4 &kp N5 &kp N6 &kp PLUS
&kp LEFT &kp DOWN &kp UP &kp RIGHT &mkp RCLK 
&kp 0 &kp 1 &kp 2 &kp 3 &kp EQUAL
          &trans &trans &trans &trans &trans &trans    									
										>;
									};
    };
};